.switches-container {
  margin-left: 5%;
  width: 150px;
  position: absolute;
  top: 65vh;
  left: 0;

  .slide-number {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: rgba(66, 86, 122, 1);
    margin-bottom: 14px;
    padding-left: 5px;
  }

  @media (max-width: 320px) {
    .slide-number {
      margin-bottom: 5px;
    }
  }

  .buttons {

    .btn-left,
    .btn-right {
      background-color: transparent;
      border: none;
      margin-right: 10px;
    }

    @media (max-width: 320px) {
      .btn-left {
        margin-right: 5px;
      }

      .btn-right {
        margin-right: 0;
      }
    }

    .btn-icon {
      width: 50px;
      height: 50px;
      color: rgba(66, 86, 122, 0.5);
      border-radius: 50%;
    }

    @media (max-width: 320px) {
      .btn-icon {
        width: 25px;
        height: 25px;
      }
    }

    .btn-icon:hover {
      cursor: pointer;
      background-color: white;
      transition: background-color 0.3s ease-in-out;
    }
  }
}

@media (max-width: 320px) {
  .switches-container {
    position: static;
    order: 2;
    width: 60px;
    margin-top: auto;
  }
}