.slider-container {
  height: 135px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 999;

  .swiper {
    position: static !important;
  }

  @media (max-width: 320px) {
    .swiper-slide {
      width: 150px !important;
      margin-right: 20px !important;
    }
  }

  .slider {
    padding-bottom: 50px !important;

    .slide {
      width: 100%;

      .slide-date {
        color: rgba(56, 119, 238, 1);
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        margin-bottom: 15px;
      }

      .slide-info {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
      }

      @media (max-width: 320px) {
        .slide-date {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
        }

        .slide-info {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .slider {
      padding-bottom: 0 !important;
    }
  }
}

@media (max-width: 320px) {
  .slider-container {
    order: 1;
    height: 114px;
    padding-right: 0;
    width: 100%;
  }
}

.slider-container:hover {
  cursor: grabbing;
}

.slider-container-fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.slider-container-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-color: white;
  color: rgba(56, 119, 238, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-prev {
  left: 1%;
}

.swiper-button-next {
  right: 1%;
}

.swiper-button-prev:after,
.swiper-button-next::after {
  font-size: 10px;
  letter-spacing: 0;
  font-variant: inherit;
  line-height: 1;
}

.swiper-pagination {
  display: none;
}

@media (max-width: 320px) {
  .swiper-pagination {
    display: flex;
    justify-content: center;
    top: 45vh !important;
    --swiper-pagination-color: rgba(66, 86, 122, 1);
  }
}